on:
  repository_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@main
      - name: Publish
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
              SECRET_KEY
              SLACK_SIGNING_SECRET
        env:
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            SLACK_SIGNING_SECRET: ${{ secrets.SLACK_SIGNING_SECRET }}
